@import "tailwindcss";

@theme {
  --color-x-color: #6200ea; /* Placeholder for custom color variable */
  --color-dark-bg: #121212;
  --color-dark-2-bg: #1e1e1e;
  --color-light-bg: #f1f1f1;
  --color-dark-text: #040404;
  --color-light-text: #ffffff;
  --color-light-2-text: #a0a0a0;
  --color-dark-border: #2c2c2c;
  --color-x-accent: #ffa500;
  --color-x-hover: #cc8400;
  --color-x-error: #991b19;
  --color-x-success: #4caf50;
  --color-x-shadow: rgba(0, 0, 0, 0.1);
  --color-2-shadow: rgba(0, 0, 0, 0.2);
  --color-x-link: #1e90ff;
  --color-x-link-hover: #1c86ee;
  --color-x-button-bg: #6200ea;
  --color-x-button-text: #ffffff;
  --color-x-button-hover: #3700b3;
  --color-x-button-active: #3700b3;
  --color-x-button-disabled: #9e9e9e;
  --card-width: 420px;
}

.box_page {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px; /* Optional: to limit the width on larger screens */
  margin: 0 auto; /* Center the content */
  padding: 0 1rem; /* 16px */
  padding-top: 1rem; /* 16px */
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow: hidden;
  background-color: var(--color-light-bg);
  color: var(--color-dark-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center; /* Centered text for better aesthetics */
  font-family: 'Orbitron', sans-serif; /* Assuming Orbitron is imported */
  letter-spacing: 0.05em; /* Adjusted for better readability */
  text-transform: uppercase; /* Optional: to match the Orbitron style */
  font-weight: 400; /* Regular weight */
  font-size: 1rem; /* 16px */
  line-height: 1.5; /* 24px */
  /* Optional: Add a subtle shadow for depth */
}

h1{
  font-size: 2.5rem; /* 40px */
  font-weight: 700; /* Bold */
  color: var(--color-dark-text);
  text-align: center;
  padding-top: 2rem; /* 32px */
  padding-bottom: 1rem; /* 16px */
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.card_container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--color-light-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1rem; /* 16px */
  padding: 1rem; /* 16px */
}

.card_list {
  width: var(--card-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 3px 0px;
  background-color: var(--color-light-bg);
}

.card_box {
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0 auto;
  border-radius: 0.5rem; /* 8px */
  /* overflow: hidden; */
  background-color: var(--color-light-bg);
  transition: transform 0.3s ease;
}

/* TODO */
.card {
  min-height: 420px; /* 288px */
  background-color: var(--color-x-link);
  border-radius: 0.5rem; /* 8px */
}

.card_image {
  width: 100%;
  height: 16rem; /* 64 * 0.25rem */
  object-fit: cover;
  border-radius: 0.5rem; /* 8px */

  &:hover {
    height: 50dvh;
    transition: height 0.4s ease-in-out;
    cursor: pointer;
  }
}

.card_info {
  width: 100%;
  height: fit-content;
  min-height: 180px;
  max-height: 240px;
  line-height: 1.5;
  padding: 0 0 0 1rem; /* 16px */
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--color-light-bg);
  color: var(--color-dark-text);
  font-size: 1.25rem; /* 20px */
  border-radius: 0 0 0.5rem 0.5rem; /* 8px */ /*TODO*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.box_input {
  width: var(--card-width);
  min-width: 400px; 
  margin: 0 auto;
}

.box_phrase{
  max-width: var(--card-width);
  font-size: 2rem; /* 32px */
  text-transform: uppercase;
  text-decoration: underline;
  padding: 1.5rem 0; /* 24px */
  text-align: center;
}

footer {
  width: 100%;
  padding: 1rem; /* 16px */
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
  text-align: center;
  font-size: .7rem; /* 16px */
  font-weight: 400; /* Regular weight */
  position: relative;
  bottom: 0;
}

.theme-toggle {
  /* flex justify-end items-center w-full p-2 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0.5rem; /* 8px */
}
